<div class="navbar-lewagon">
  <h2> <i class="fa-regular fa-camera-movie fa-beat"></i>'R' Us</h2>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2018/04/01/17/54/people-3281583_1280.jpg);">
  <div class="container">
    <h1>Movie Lists</h1>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://thumbnails.production.thenounproject.com/f9qfUYK4piml1TTJmMQ88PAiu5E=/fit-in/1000x1000/photos.production.thenounproject.com/photos/73741A7E-4978-4B22-A488-B00F05D8D568.jpg)">
        <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>

<i class="fa-solid fa-circle-plus fa-beat"></i> <%= link_to "Add a new list", new_list_path %>
</div>
</div>
