<div class="container">
<br>
<h3>New List</h3>
  <div class="container">
  <%= render "form" %>
  </div>
<br>
  <button type="button" class="btn btn-light"><%= link_to "Back to all lists", lists_path %>
<br>
</div>
